<div class="col-md-12">

  <h2 class="text-center">  动态 </h2>

  <table class="table">
    <thead>
      <tr>
        <th>  </th>
        <th> user </th>
        <th> status </th>
        <th> title </th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td> <%= event.updated_at %> </td>
          <td> <%= event.user.email %> </td>
          <td>
            <% case event.aasm_state %>
              <% when "created" %>
                <span class="label label-default">创建了任务</span>
              <% when "deleted" %>
                <span class="label label-default">删除了任务</span>
              <% when "finished" %>
                <span class="label label-default">完成了任务</span>
              <% when "assigned" %>
                <span class="label label-default">指派了</span>
              <% when "update_finisher" %>
                <span class="label label-default">修改了任务完成者</span>
              <% when "update_deadline" %>
                <span class="label label-default">修改了任务完成时间</span>
              <% when "commented" %>
                <span class="label label-default">评论了任务</span>

             <% end %>
           </td>
          <td> <%= link_to(event.title, event_path(event)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
